@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: rgba(243, 242, 242, 0.979);
}

.photo {
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    text-align: center;
    font-style: italic;
}

header p {
    color: #F44A4A;
    font-style: italic;
    text-align: center;
}

.chiSono {
    background-color: #ffffff;
    text-align: justify;
}


h2 {
    color: #1F3D7A;
}

img {
    width: 40%;
}

.par {
    color: #1F3D7A;
    font-style: italic;
    line-height: 2;
}

nav li {
    text-align: center;
    line-height: 3;
    font-weight: bold;
}

nav a:link,
a:visited {
    color: hsl(67, 98%, 26%);
}

nav a:hover {
    color: white;
}

.competenze li:first-child {
    font-weight: bold;
}

.competenze li:nth-child(odd) {
    line-height: 2;
    background-color: #F5F7FB;
}

.links:nth-of-type(odd) {
    background-color: antiquewhite;
}

.links:nth-of-type(even) {
    background-color: azure;
}

.links a:link,
a:visited {
    color: blue;
}

.links a:hover {
    color: red;
}

button{
    background-color: hsl(220, 60%, 30%);
    font-weight: bold;
    width:30%;
    color:#ffffff
    }

button:hover{
    background-color:hsl(220, 60%, 45%)
    }

footer {
    background-color: #172136;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
}
