@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.photo {
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-position: center;
}

h1  {
    color: white;        
    text-align: center;
    font-style: italic;
}

header p{
    color: #F44A4A;
    font-style: italic;
    text-align: center;
}

h2 {
    color: #1F3D7A;  
}

img{
    width: 40%;
}

.par{
    color: #1F3D7A;
    font-style: italic;
    line-height: 2;
}

nav li {
    text-align: center;
    line-height: 3;
    font-weight: bold;
}

nav a:link, a:visited{
    color:hsl(67, 98%, 26%);
}

nav a:hover{
    color:white; 
}

.competenze li:first-child{
    font-weight: bold;
}

.competenze{
    line-height: 1.5;
}


